<div class="header-info">
  <h1>Technologies</h1>
</div>
<div class="row">
    <div class="col-4 col-md-3 col-lg-2 offset-lg-3 offset-md-1">
      <img class="tech-img" src="assets/scala.png"/>
    </div>
    <div class="col-4 col-md-3 col-lg-2">
      <img class="tech-img" src="assets/playframework.png"/>
    </div>
    <div class="col-4 col-md-3 col-lg-2">
      <img class="tech-img" src="assets/angular.png"/>
    </div>
</div>
<div class="row">
  <div class="col-5 col-sm-4 col-md-3 col-lg-2 offset-lg-4 offset-md-2 offset-sm-2 offset-1">
    <img class="tech-img" src="assets/mysql.png"/>
  </div>
  <div class="col-5 col-sm-4 col-md-3 col-lg-2">
    <img class="tech-img" src="assets/typescript.png"/>
  </div>
</div>

