<h1>Angular 2</h1>
<h3>Past With AngularJs</h3>
<p>When I first entered the industry, I worked on a proof of concept project using AngularJs. At the time my only
  programming experience was with backend Java and some vanilla javascript. Compared to how I worked with javascript
  before, I thought AngularJs was amazing. It was a complete framework build around MVC and provided built-in support
  for
  just about everything I could possible need. The one issue I had with it was that I thought the way AngularJs handled
  scoping
  was unnecessarily confusing, and I thought that building custom directives had a pretty steep learning curve.</p>
<h3>Present with Angular 2</h3>
<p>Angular 2 simplified just about everything that I experienced with AngularJs. I initially had a hestitancy to using
  it though. It was a significant departure from AngularJs, and that intimidated me first. I thought that I would just
  be using a newer version of AngularJs, but it was a completly new framework.</p>
<p>Angular 2 is extremely modularized, opinionated, but I would still consider it flexibile enough to not discourage a
  developer from using it. The first thing that I noticed about it was that when I coded using it, I felt like I was
  using Java. What I mean by this
  is that code is very object oriented. In my opinion using services and components was like Java classes. The services
  handled the business logic and maintaining state
  and components handled the view and some logic that doesn't make sense being handled by a service. I think that
  Angular 2 is great for building a complex frontend application.
</p>

<h3>Limitations Of Angular 2</h3>
<p>What I see as Angular 2's greatest limitation and strength is Typescript. Typescript is a superset of javascript that
  allows for strict types. That is it's biggest advantage. While I am somewhat opinionated that strict typing is better
  than dynamic typing, I don't think that the advantages of Typescript are enough to replace javascript for frontend
  development. I personally think that javascript is a dated and flawed programming language, but at the end of the day
  it is the standard for frontend development, and doesn't show any signs of not being in the future. The thing that
  probably discourages most developers from using Angular 2 is that it uses Typescript, and could possibly be
  unsupported, extremely dated, or difficult to change to something else in the future. </p>
<h3>Conclusion</h3>
<p>Angular 2 is extremely opinionated, but is also a full framework for frontend development. I think that some
  developers will be discouraged by the fact that it has such an emphasis on convention, but I believe that
  frameworks/programming languages should limit what a developer can do, while also making life easier for them. Scala
  in my opinion is the most powerful programming
  language that I know anything about, but I would say that it is deeply flawed. It is flawed because it gives
  developers too much freedom. Angular 2 in comparision limits a developer and forces a developer to write code in a
  certain way.
</p>
<p>
  I totally agree with the idea behind Angular 2, but I don't totally agree with it's implementation. The fact that
  Angular 2 uses Typescript makes it somewhat inflexible. Angular 2 makes significant improvements over AngularJs. For
  example it removes it's
  digest cycle and makes writing it a lot simpler. At the end of the day Angular 2 is a typescript framework and not a
  javascript framework. Any slightly ambitious software developer wants to be a generalist, and not stuck using one technology, and that is what I see as Angular 2's biggest problem.

</p>
