<div class="col-jxs-20">
  <div class="col-jxs-13">
    <h1>My Story</h1>
<p>
      &emsp;For the last year I have made attempts to position myself in the direction I want to go. My greatest
      short-term career goal is to gain a Front-End skill set. Due to the novelty, popularity, and how well it matches
      my current skillset, I thought that acquiring Angular 2 expertise would be a good direction to go.
      <br>
      &emsp;Another area of focus I had for 2017 was picking up a Scala skillset. Even though Scala was a niche language, I
      liked the ability to leverage my Java knowledge since they both run on the JVM, and I thought some of features
      were extremely cool. I wouldn’t say that I achieved my goal on acquiring a Scala skillset, since transitioning
      from Object Oriented to Functional Programming has been a challenge and I focused a lot on Angular 2 this year. I
      will say that learning about Scala, has probably improved my general skills as a developer more than any course or
      project has.
    </p>


  </div>
  <div class="col-jxs-7">
    <app-article-nav [routes]="routes"></app-article-nav>
  </div>

</div>
