<div class="row" id="homeWrapper">
  <div id="homeHeader" class="col-12 col-md-6 col-lg-6">
    <h1>About Me</h1>
  </div>
  <div class="col-12 col-md-6"></div>
  <div class="col-12 col-md-6 col-lg-6">
    <div class="accordion-list">
      <app-accordion-item [isOpen]=true accordionTitle="Work Experience">I have worked primarily as a Backend Java
        Developer maintaining SOAP based Web-Services built around JAXB, JPA, and DB2 and using Maven as the build tool.
        Probably the most transferable skill I have learned from work is how to communicate effectively in a large
        group. A lot of my job involves debugging integration issues and investigating the point of failure across
        multiple development teams, and that required me to be brief, confident, and mindful to be effective. What I
        have found most rewarding in my current role
        is the times that I got to work on something new. That is what I want more of in my next role.
      </app-accordion-item>
      <app-accordion-item [isOpen]=false accordionTitle="Side Projects"> This website has been my main side-project. For
        the last couples of months, I have been taking courses and reading books
        to further my skills in Scala and Angular 4. I consider myself a Backend Java Developer, and I hope that in the
        future to become more than that.
      </app-accordion-item>
      <app-accordion-item [isOpen]=false accordionTitle="To-Do-List">
        <h6>Things I want to learn</h6>
        <hr>
        <ul>
          <li>Scala and Play Framework</li>
          <li>Angular 4</li>
          <li>Spring Boot</li>
          <li>Testing Frameworks</li>
          <li>Sbt</li>
          <li>Swift</li>
          <li>HTML/CSS</li>
        </ul>
      </app-accordion-item>
      <app-accordion-item [isOpen]=false accordionTitle="Personal">
        I am into rock climbing, getting a bite to eat or drink, and good company.
      </app-accordion-item>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-6">
    <img id="homeImage" src="assets/HomeImage.png">
  </div>
</div>
