<!DOCTYPE html>
<html>
    <head>
        <title>Joshua Buchanan</title>
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
    </head>
    <body>
        <resume-application></resume-application>
    </body>

    <script src="@routes.Assets.at("dependencies.bundle.js")"></script>
    <script src="@routes.Assets.at("bundle.js")"></script>
    <script src="@routes.Assets.at("polyfills.bundle.js")"></script>
    <script src="@routes.Assets.at("styles.bundle.js")"></script>
    <script src="@routes.Assets.at("vendor.bundle.js")"></script>

</html>